<p>Someone (hopefully you) has requested to login to
<a href="{{ server_host }}/">{{ server_host }}/</a>.
Please open the link to login. The link will expire at
{{ expiration_time|date:"DATETIME_FORMAT" }}.</p>
<p id="login_url">{{ server_host }}{{ login_url }}</p>
