{% load i18n %}{# https://www.w3schools.com/howto/howto_js_dropdown.asp #}
{% if incorrect_email %}
<span class="w3-text-red" onclick="document.getElementById('auth_info').innerHTML = '';">{% trans "Please provide valid email address." %} x</span>
{% elif sent_email %}
<span class="w3-text-green" onclick="document.getElementById('auth_info').innerHTML = '';">{% trans "Please check email to continue loging in." %} x</span>
{% else %}
  <div class="w3-dropdown-click" ic-on-error="document.getElementById('auth_info').innerHTML = xhr.responseText;">
    <button id="show_hide_login_dropdown" onclick="show_hide('login_dropdown', ['label_login_email', 'login_email'])" class="w3-button">{{ login_dropdown }}</button>
    <div id="login_dropdown" class="w3-dropdown-content login-right w3-container w3-padding w3-card-4">
      <button ic-get-from="{% url 'terms_and_conds' %}" ic-target="#page_content">{% trans "Terms And Conditions" %}</button>
      {% if logged_in_user %}
      <button ic-get-from="{% url 'hash_email_auth:logout' %}" ic-target="#user_info">{% trans "Logout" %}</button>
      {% else %}
      <form method="POST" ic-post-to="{% url 'hash_email_auth:login' %}" ic-target="#auth_info">
        {% csrf_token %}
        <label id="label_login_email" for="login_email">Email: </label>
        <input id="login_email" name="login_email">
        <input type="submit" value="{% trans "Login" %}" class="w3-button">
      </form>
      {% endif %}{# logged_in_user #}
    </div>
  </div>

  <style>
    .login-right { right: 16px; }
  </style>
{% endif %}{# sent_email #}
