{% load i18n %}
<style scoped="">
    .tram {
        margin:10px;padding:20px;border:1px solid;
        background-color:rgba(255,255,255,0.7);
    }
    .ic-transitioning #Mh_Tram {
      background: darkseagreen;
    }
    #Mh_Tram {
      transition: all 3.0s;
    }
</style>
<div class="w3-container w3-cell-row" id="Mh_Tram" ic-sse-src="">
  <div class="w3-col m2 l3">&nbsp;</div>
  <div class="w3-col m8 l6 tram">
    <h3 class="w3-text-blue">🚏&nbsp;Trạm&nbsp;{{ bus_stop.name }}</h3>
    {# bus_time/templates/bus_time/generic_button.html #}
    {% url 'bus_time:street_detail' bus_stop.street.slug as get_from %}
    {% include "bus_time/generic_button.html" with get_from=get_from content=bus_stop.street.name cls_type='street' target='page_content' %}
    <br/>
    {% for route, sor in route_sor %}
    {% url 'bus_time:route_detail' route.external_id as get_from %}
    {% include "bus_time/generic_button.html" with get_from=get_from content=route.external_id cls_type='route' target='page_content' %}
    <span class="w3-xlarge w3-text-blue">
      {{ route.name }}
      <strong>{% trans sor.get_direction_display %}</strong>
    </span>
    <br/>
    {% for bus, time_ in bus_estm %}
    {% if bus.bus_route == route and bus.direction == sor.direction  %}
      {# Similar to bus_time/generic_street.html #}<span style="color: blue">🚍&nbsp;{{ bus.get_third_id }}:&nbsp;<strong>⌛&nbsp;{{ time_|time:"H:i" }}</strong>;</span>
    {% endif %}
    {% endfor %}
    </br>
    {% endfor %}
  </div>
</div>
