<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
</style>
<h1 style="color: white">{{ bus_route.name  }}</h1>
<p style="color:white">Giá vé lượt <strong>{{ bus_route.price }}</strong>đ</p>
<input type="hidden" id="object_with_id" name="object_with_id" value="bus_route-{{ bus_route.external_id }}">
<table style="background-color:#88ffaa;" border="1">
  {% include "bus_time/generic_route.html" with direction_display='Forward' buses=forward_buses sors=forward_sors sobs=forward_sobs eta_list=forward_eta_list %}
</table>
<table style="background-color:#ffaa88;" border="1">
  {% include "bus_time/generic_route.html" with direction_display='Return' buses=return_buses sors=return_sors sobs=return_sobs eta_list=return_eta_list %}
</table>
