{% load i18n %}
<thead>
  <tr>
    <th>{% trans "Route direction" %} {% trans direction_display %}</th><th>{% trans 'Bus stop' %}</th>
    {% for bus in buses %}
    <th>{{ bus.get_third_id }}</th>
    {% endfor %}
  </tr>
</thead>
<tbody>
  {% for sor, rowspan in sors %}
  <tr>
    {% ifchanged sor.bus_stop.street %}
    <td id="" rowspan="{{ rowspan }}" style="width:100px">
      {% url 'bus_time:street_detail' sor.bus_stop.street.slug as get_from %}
      {% include "bus_time/generic_button.html" with cls_type='street' get_from=get_from target='page_content' content=sor.bus_stop.street.name %}
    </td>{% endifchanged %}
    <td>
      {% url 'bus_time:bus_stops' sor.bus_stop.external_id as get_from %}
      {% include "bus_time/generic_button.html" with cls_type='busstop' get_from=get_from target='page_content' content=sor.bus_stop.name %}</td>
    {% for sob in sobs %}
    {% if sob.bus_stop == sor.bus_stop %}
    <td><span style="color: #888888">{{ sob.arrived_time|time:"H:i" }}</span></td>
    {% endif %}
    {% endfor %}
    {% for eta_sor, eta in eta_list %}
    {% if eta_sor.bus_stop == sor.bus_stop %}
    <td><span>{{ eta|time:"H:i" }}</span></td>
    {% endif %}
    {% endfor %}
  </tr>
  {% endfor %}
</tbody>

