{% load i18n %}
{% for stop, bus_time in stops %}
<div class="w3-cell" style="width:13%; padding: 5px">
<div class="w3-card-4 w3-light-gray" style="border-radius: 10px">
  <div class="w3-row">
    {% url 'bus_time:bus_stops' stop.external_id as get_from %}
    {% include "bus_time/generic_button.html" with get_from=get_from emoji="🚏" content=stop.name cls_type='busstop w3-text-indigo' target='details' %}
  </div>
    {% for route in stop.busroute_set.all %}
    {% ifchanged route.get_second_id %}
  <div class="w3-row">
    <div class="w3-col l3 w3-center">
      {% url 'bus_time:route_detail' route.external_id as get_from %}
      {% include "bus_time/generic_button.html" with get_from=get_from content=route.get_second_id cls_type='route' target='page_content' %}</br>
    </div>
    {% for bus, eta in bus_time %}
    {% if bus.bus_route.get_second_id == route.get_second_id %}
    <div class="w3-col l9 w3-center">
      {# Similar to bus_time/bus_stop.html #}<span style="color: blue">🚍&nbsp;{{ bus.get_third_id }}:<strong>⌛&nbsp;{{ eta|time:"H:i" }}</strong>;</span>
    </div>
    {% endif %}
    {% endfor %}
  </div>
  {% endifchanged %}
  {% endfor %}
</div>
</div>
{% endfor %}
