<style>
#message{
  color: white;
  font-size: 20px;
}
</style>
<div {#ic-push-url="true" ic-select-from-response="#page_content"#}>
{% if message %}
<div id="message">{{ message }}</div>
{% endif %}
{% if Street %}
    <div style="margin:10px;"><h3 style="color: white">Đường</h3>
  {% for item in Street %}
      <button class="btn btn-info info-street"
              ic-get-from="{% url 'bus_time:street_detail' item.slug %}"
              {# ic-get-from="{% url 'bus_time:streets' %}{{ item.slug }}" #}
              ic-target="#page_content">{{ item }}</button>
  {% endfor %}
    </div>
{% endif %}
{% if BusRoute %}
<div class="name-route" style="margin:10px;"><h3 style="color: white">Tuyến</h3>
{% for item in BusRoute %}
  <button class="btn btn-info info-route"
          ic-get-from="{# url 'wip' #}{% url 'bus_time:route_detail' item.external_id %}"
          ic-target="#page_content">{{ item.name }}</button>
{% endfor %}
</div>
{% endif %}
</div>
