{% load i18n %}
{% load tz %}
{% get_current_timezone as TIME_ZONE %}
<div class="w3-left" style="margin-top: 5px">
  <input class="w3-border" type="text" id="th_chuoi_tim_kiem"
                              name="q" value="{{ search_text }}"
                              placeholder="Nhập vào đây để tìm..."
                              ic-get-from="{% url 'bus_time:search' %}"
                              ic-taget="page_content"
                              ic-trigger-on="keyup changed" ic-trigger-delay="500ms"
                              ic-target="#page_content">

  <input class="w3-border" id="at_time" name="at_time" style="width: 90px"
                        placeholder="{% trans 'HH:MM' %}"
                        pattern="([01]*[0-9]|2[0-3]):[0-5]*[0-9]"
                        required
                        value="{{ at_time }}"
                        ic-get-from="{% url 'bus_time:set_tz' %}"
                        ic-include="#object_with_id"
                        ic-target="#page_content">

  <label for="timezone">Time zone:</label>
  <input list="timezones" name="timezone" id="timezone" value="{{ TIME_ZONE }}"
                    ic-get-from="{% url 'bus_time:set_tz' %}"
                    ic-include="#object_with_id"
                    ic-target="#page_content">
  <datalist id="timezones">
      {% for tz in timezones %}
      <option value="{{ tz }}"{% if tz == TIME_ZONE %} selected{% endif %}>{{ tz }}</option>
      {% endfor %}
  </datalist>
</div>
