{% load i18n %}
<style scoped="">
.tram_duong {
  margin:10px;padding-left:20px;padding-right:20px;border:1px solid;
}
.duong {
  padding:10px;
  border-top:2px solid;
  border-bottom:2px solid;
  background-color:rgba(255,255,255,0.8);
}
.duong_ve {
  padding:10px;
  border-top:2px solid;
  border-bottom:2px solid;
  background-color:rgba(255,99,71,0.8);
}
.ic-transitioning #Mh_Duong {
  background: darkseagreen;
}
#Mh_Duong {
  transition: all 3.0s;
}
</style>
{% load tz %}
{% get_current_timezone as TIME_ZONE %}
<div class="container-fluid w3-cell-row" id="details">
</div>
<div id="Mh_Duong">
  <div class="container-fluid w3-cell-row w3-center">
    {% include "bus_time/generic_street.html" with stops=even_stops %}
  </div>
  <div class="w3-container btn duong w3-row w3">
    <div class="btn w3-cell w3-col l4 m4 w3-center">
      {% for sor, end_div, sor_first in previous_sor %} {# TODO: order by route, direction, order #}
      {% ifchanged sor.bus_route %}<div class="row">{# of route row #}
        <!--div class="col street-inline"!-->
        <div class="col w3-container w3-cell w3-cell-middle">
          {% url 'bus_time:street_detail' sor_first.bus_stop.street.slug as get_from %}
          {% include "bus_time/generic_button.html" with get_from=get_from content=sor_first.bus_stop.street.name cls_type='street' target='page_content' %}
        </div>
        <div class="col w3-container w3-cell w3-cell-middle">
          {% url 'bus_time:route_detail' sor.bus_route.external_id as get_from %}
          {% include "bus_time/generic_button.html" with get_from=get_from content=sor.bus_route.external_id cls_type='route' target='page_content' %}
        </div>
        <div class="col w3-container w3-cell w3-cell-middle"> {% endifchanged %}
          {% url 'bus_time:street_detail' sor.bus_stop.street.slug as get_from %}
          {% include "bus_time/generic_button.html" with get_from=get_from content=sor.bus_stop.street.name cls_type='street' target='page_content' %}
        {% if end_div %}
        </div>
      </div>{% else %}<br/>{% endif %}
      {% empty %}&nbsp;
      {% endfor %}
    </div>
    <div class="btn w3-cell w3-col l4 m4 w3-text-blue w3-center">
      <h1 class="">{{ street.name }}</h1>
      <input type="hidden" id="object_with_id" name="object_with_id" value="street-{{ street.slug }}">
    </div>
    <div class="btn w3-cell w3-col l4 m4 w3-center">
      {% for sor, end_div, sor_last in next_sor %} {# TODO: order by route, direction, order #}
      {% ifchanged sor.bus_route %}<div class="row">
        <div class="col w3-container w3-cell w3-cell-middle">{% endifchanged %}
          {% url 'bus_time:street_detail' sor.bus_stop.street.slug as get_from %}
          {% include "bus_time/generic_button.html" with get_from=get_from content=sor.bus_stop.street.name cls_type='street' target='page_content' %}
        {% if end_div %}</div>
        <div class="col w3-container w3-cell w3-cell-middle">
          {% url 'bus_time:route_detail' sor.bus_route.external_id as get_from %}
          {% include "bus_time/generic_button.html" with get_from=get_from content=sor.bus_route.external_id cls_type='route' target='page_content' %}
        </div>
        <div class="col w3-container w3-cell w3-cell-middle">
          {% url 'bus_time:street_detail' sor_last.bus_stop.street.slug as get_from %}
          {% include "bus_time/generic_button.html" with get_from=get_from content=sor_last.bus_stop.street.name cls_type='street' target='page_content' %}
        </div>
      </div>{% else %}<br/>{% endif %}
      {% endfor %}
    </div>
  </div>
  {% if check_next %}
  {% else %}
  <div class="w3-container btn duong_ve w3-row w3">
    <div class="btn w3-cell w3-col l4 m4 w3-center">
      {% for sor, end_div, sor_first in previous_sor_odd %} {# TODO: order by route, direction, order #}
      {% ifchanged sor.bus_route %}<div class="row">{# of route row #}
        <!--div class="col street-inline"!-->
        <div class="col w3-container w3-cell w3-cell-middle">
          {% url 'bus_time:street_detail' sor_first.bus_stop.street.slug as get_from %}
          {% include "bus_time/generic_button.html" with get_from=get_from content=sor_first.bus_stop.street.name cls_type='street' target='page_content' %}
        </div>
        <div class="col w3-container w3-cell w3-cell-middle">
          {% url 'bus_time:route_detail' sor.bus_route.external_id as get_from %}
          {% include "bus_time/generic_button.html" with get_from=get_from content=sor.bus_route.external_id cls_type='route' target='page_content' %}
        </div>
        <div class="col w3-container w3-cell w3-cell-middle"> {% endifchanged %}
          {% url 'bus_time:street_detail' sor.bus_stop.street.slug as get_from %}
          {% include "bus_time/generic_button.html" with get_from=get_from content=sor.bus_stop.street.name cls_type='street' target='page_content' %}
        {% if end_div %}
        </div>
      </div>{% else %}<br/>{% endif %}
      {% empty %}&nbsp;
      {% endfor %}
    </div>
    <div class="btn w3-cell w3-col l4 m4 w3-text-blue w3-center">
      <h1>{{ street.name }}</h1>
    </div>
    <div class="btn w3-cell w3-col l4 m4 w3-center">
      {% for sor, end_div, sor_last in next_sor_odd %} {# TODO: order by route, direction, order #}
      {% ifchanged sor.bus_route %}<div class="row">
        <div class="col w3-container w3-cell w3-cell-middle">{% endifchanged %}
          {% url 'bus_time:street_detail' sor.bus_stop.street.slug as get_from %}
          {% include "bus_time/generic_button.html" with get_from=get_from content=sor.bus_stop.street.name cls_type='street' target='page_content' %}
        {% if end_div %}</div>
        <div class="col w3-container w3-cell w3-cell-middle">
          {% url 'bus_time:route_detail' sor.bus_route.external_id as get_from %}
          {% include "bus_time/generic_button.html" with get_from=get_from content=sor.bus_route.external_id cls_type='route' target='page_content' %}
        </div>
        <div class="col w3-container w3-cell w3-cell-middle">
          {% url 'bus_time:street_detail' sor_last.bus_stop.street.slug as get_from %}
          {% include "bus_time/generic_button.html" with get_from=get_from content=sor_last.bus_stop.street.name cls_type='street' target='page_content' %}
        </div>
      </div>{% else %}<br/>{% endif %}
      {% endfor %}
    </div>
  </div>
  {% endif %}
  <div class="container-fluid w3-cell-row w3-center">
    {% include "bus_time/generic_street.html" with stops=odd_stops %}
  </div>
</div>
