{% load i18n %}{% load static %}<!DOCTYPE html>
<html>
  <head>
    <!-- https://www.w3schools.com/w3css/tryw3css_templates_travel2.htm -->
    <title>Woodbus</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">{# main/static/main/style.css #}
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
            integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
            integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="https://intercoolerreleases-leaddynocom.netdna-ssl.com/intercooler-1.2.1.js" crossorigin="anonymous"></script>
    <script src="{% static 'main/js/utilities.js' %}"></script>{# main/static/main/js/utilities.js #}
    {% comment %}
    <script src="{% static 'main/js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'main/js/intercooler-1.2.3.min.js' %}"></script>
    {% endcomment %}
    <style>
      body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", Arial, Helvetica, sans-serif}
      .myLink {display: none}
    </style>
  </head>
  <body class="w3-light-grey" style="width: 100%; margin: auto;">

    <!-- Navigation Bar -->
    <div class="w3-bar w3-white w3-border-bottom w3-xlarge w3-text-red nav-bar" ic-indicator="#ic_processing">
      <a href="{% url home_url_name %}" class="w3-bar-item w3-button w3-hover-red">
        <i class="fa fa-home"></i>
      </a>
      <div id="search_input" class="w3-left" style="float: left"
           ic-get-from="{% url search_input_url_name %}{{ search_text }}"
           ic-trigger-on="load"></div>
      <div class="w3-bar-item" id="general_info">
        <i class="fa fa-spinner fa-spin fa-1x" id="ic_processing"></i>
      </div>

      <div class="w3-dropdown-click w3-right w3-hover-red"
           ic-get-from="{% url auth_status_url_name %}" ic-trigger-on="load"
           id="user_info">
      </div>
      <div class="w3-dropdown-click w3-right" id="lang_flag">
        {% get_current_language as LANGUAGE_CODE %}
        {# get_available_languages as LANGUAGES #}
        <div id="lang_flag">
          {% for lang_code, flag in LANGUAGES %}{# for lang_code, lang_name in LANGUAGES #}
            {% get_language_info for lang_code as lang %}
            {% if lang_code == LANGUAGE_CODE %}<button id="show_hide_lang_dropdown" onclick="show_hide('lang_dropdown');" class="w3-button w3-hover-red">
              <img src="{% static 'main/images/blank.png' %}" class="flag flag-{{ flag }}" id="img_active_language"
                  alt="[{{ lang.name_local }}]">
            &nbsp;{{ lang.name_local }} <i class="fa fa-caret-down"></i>
          </button>
          <div id="lang_dropdown" class="w3-dropdown-content w3-container w3-padding w3-card-4">{# LANGUAGES #}
            {% else %}<div class="w3-bar-item w3-button w3-hover-red">
                {% language lang_code %}
              <img src="{% static 'main/images/blank.png' %}" class="flag flag-{{ flag }}"
                  alt="[{{ lang.name_local }}]">
              &nbsp;<a href="{% url home_url_name %}">{{ lang.name_local }}</a>
              {% endlanguage %}
            </div>
          {% endif %}{% endfor %}</div>
        </div>
      </div>
      <div class="w3-bar-item w3-right" id="auth_info"></div>
    </div>

    <header class="w3-display-container w3-content w3-hide-small" style="max-width:1500px">
    </header>

    {% block page_content %}{% endblock %}

    <footer class="w3-container w3-center w3-opacity w3-margin-bottom">{% comment %}
      <h5>Find Us On</h5>
      <div class="w3-xlarge w3-padding-16">
        <i class="fa fa-facebook-official w3-hover-opacity"></i>
        <i class="fa fa-instagram w3-hover-opacity"></i>
        <i class="fa fa-snapchat w3-hover-opacity"></i>
        <i class="fa fa-pinterest-p w3-hover-opacity"></i>
        <i class="fa fa-twitter w3-hover-opacity"></i>
        <i class="fa fa-linkedin w3-hover-opacity"></i>
      </div>{% endcomment %}
      <p>{% trans "Powered by" %}
        <a href="https://www.djangoproject.com/"
           target="_blank" class="w3-hover-text-green"> {% trans "Django Project" %}</a>,
        <a href="https://www.w3schools.com/w3css/default.asp"
           target="_blank" class="w3-hover-text-green">w3.css</a>,
        <a href="https://intercoolerjs.org/"
           target="_blank" class="w3-hover-text-green">intercoolerjs</a>
        <a href="https://pixabay.com/photos/tree-nature-wood-sunset-light-3822149/"
           target="_blank" class="w3-hover-text-green"> pixabay.com: {% trans "tree nature sunset" %}</a>
        <a href="https://flag-sprites.com/"
           target="_blank" class="w3-hover-text-green">{% trans "Country Flag Sprites" %}</a>
      </p>
    </footer>

  </body>
</html>
