{% load i18n %}{% trans "Thanks for taking the bus today. It's a huge help.  Our job has gotten so difficult lately - it's like trying to avoid the wind.  We can't tell you what a breath of fresh air it is that you're riding the bus.  Every time you do, it totally helps us breathe easier, which of course, helps you do the same.  From the bottom of our roots, thank you.  The Trees" as tree_message %}{% url home_url_name as home_url %}
<div class="w3-container w3-cell-row">
  <div class="w3-cell w3-third">
    <div class="w3-container w3-margin w3-card highlight">
      <h1>{% trans "Contributors" %}</h1>
    </div>
    <div class="w3-container w3-margin w3-card w3-sand">
      <h1>{% trans "THANK YOU!" %}</h1>
      <p>{% blocktrans %}For caring our Earth by any of following contributions.{% endblocktrans %}</p>
      <ul>
        <li>{% trans "ride buses" %};</li>
        <li>{% blocktrans %}use and spread words about
          <a href="https://ecosia.org/" target="_blank">Ecosia</a>
          and <a href="{{ home_url }}">this site</a>{% endblocktrans %};</li>
        <li><a href="https://gitlab.com/mocdiepvn/woodbus/-/issues" target="_blank">{% trans "provide suggestions or report bugs" %};</a></li>
        <li><span class="link" ic-get-from="{% url 'translations' %}" ic-target="#page_content">{% trans "translate to your language" %};</span></li>
        <li><a href="https://gitlab.com/mocdiepvn/woodbus" target="_blank">{% trans "join the development" %};</a></li>
        <li>{% trans "maintain a server to support community where you live" %};</li>
        <li>{% trans "etc." %}</li>
      </ul>
    </div>
    <div class="w3-container w3-margin w3-card w3-sand">
      <h2>{% trans "Ngoc Nhi" %} ({% trans "Developer" %})</h2>
      <p>{% blocktrans %}Riding buses help reducing emissions from personal vehicle to the environment. I am very happy to be part of the project.{% endblocktrans %}</p>
      <p>{% blocktrans %}By using WoodBus, wish you all have happy time with buses.{% endblocktrans %}</p>
    </div>
  </div>
  <div class="w3-cell w3-third">
    <div class="w3-container w3-margin w3-card w3-sand">
      <h2>{% trans "Hai Lang" %} ({% trans "Business Analyst" %})</h2>
      <p>{% blocktrans %}Ho Chi Minh City, Vietnam, some day in 1987. The distance from bus stop to my secondary school was about half a mile. I was walking at noon and enjoying the shading of tall big trees along the way. It was hot but the air was fresh.{% endblocktrans %}</p>

      <p>{% blocktrans %}At a bus station in Folsom, USA, October 2013. After a working day in office, I was waiting for a bus to go back to hotel. The autum air was quite hot and I felt it in every breath. Then I saw a message at bus stop's panel.{% endblocktrans %}</p>

      <div class="w3-panel w3-leftbar highlight">
        <p class="w3-large w3-serif"><i>"{{ tree_message }}"</i></p>
      </div>

      <p>{% blocktrans %}Da Nang, Vietnam, March 2020. The weather was so burning at several places. After first few days people stayed at home due to COVID-19 pandemic in Vietnam, there was sudden rain and it cooled the city. The rain was at strange period that had not been seen recent years.{% endblocktrans %}</p>

      <p>{% blocktrans %}To me, the environment has been changed too much after 33 years. <a href="https://en.wikipedia.org/wiki/Al_Gore" target="_blank">Al Gore, former U.S. vice president, spoke about Climate Crisis (Wikipedia)</a>. Extreme weather will harm all species on Earth if we do not take action now.{% endblocktrans %}</p>

      <p>{% blocktrans %}So join us to live happily and peacefully with our Mother Earth.{% endblocktrans %}</p>

    </div>
  </div>
  <div class="w3-cell w3-third">
    <div class="w3-container w3-margin w3-card w3-sand">
      <p><img style="width:100%;" src="https://dxmt.mocdiep.com/message_from_trees_480x851.jpg" alt="&quot;{{ tree_message }}&quot;"></a></p>
    </div>
  </div>
</div>
