{% extends "main/base.html" %}
{% block page_content %}
    <!-- Page content -->
    <div class="w3-content bg-image" style="max-width: 90%; max-height: 90%">
      <div id="page_content"
           {% if auto_load %}{{ auto_load|safe }}
           {% else %}ic-get-from="{% url 'contributors' %}" ic-trigger-on="load"
           {% endif %}></div>
    </div>
    <!-- End page content -->
{% endblock page_content %}
