{% load i18n %}
<div class="w3-container w3-cell-row">
  <div class="w3-cell w3-third">
    <div class="w3-container w3-margin w3-card highlight">
      <h2>{% trans "Terms And Conditions (Agreement)" %}</h2>
      <p><i>{% blocktrans %}This Agreement was last modified on September 15, 2020.{% endblocktrans %}</i></p>
    </div>
    <div class="w3-container w3-margin w3-card w3-sand">
      <h2>{% trans "Privacy Policy" %}</h2>
      <p>{% blocktrans %}We care about your privacy the same as you. There are three ways you can use the site.{% endblocktrans %}</p>
      <p>{% blocktrans %}First, you can use without logged in. A small cookie will be used to track only on this device how much trees you saved. If you access this site on other devices without logging in, you will have different counting on each device.{% endblocktrans %} {% if cookie.sessionid %}{% blocktrans %}Below is the actual cookie on your device{% endblocktrans %}{% else %}{% blocktrans %}Please refresh the page to see cookie. If still not see, please allow it using browser's settings{% endblocktrans %}{% endif %}...</p>
      <p class="w3-code strong w3-container w3-padding highlight">{{ cookie }}</p>
      <p>...{% blocktrans %}and session data on server.{% endblocktrans %}</p>
      <p class="w3-code strong w3-container w3-padding highlight">{{ session }}</p>
      <p>{% blocktrans %}Second, you login anonymously to keep track how much trees you saved across devices. You still need to provide email address to login, but the email will not be saved to our database. We only save one-way hashed email. There is no way to retrieve your email from the hashed value.{% endblocktrans %}</p>
      <p class="w3-code strong w3-container w3-padding highlight">{{ hashed_email }}</p>
    </div>
  </div>
  <div class="w3-cell w3-third">
    <div class="w3-container w3-margin w3-card w3-sand">
      <p>{% blocktrans %}Last, to contribute more in this site, you can have another account with email and password, besides anonymous account with hashed email for your normal use. Two accounts are separated so your email is not associated with your daily activities.{% endblocktrans %}</p>
    </div>
    <div class="w3-container w3-margin w3-card w3-sand">
      <h2>{% trans "Terms of Use" %}</h2>
      <h3>{% trans "Legal Notices" %}</h3>
      <p>{% blocktrans %}We, the Operators of this Website, provide it as a public service to our users. Please carefully review the following basic rules that govern your use of the Website. Please note that your use of the Website constitutes your unconditional agreement to follow and be bound by these Terms and Conditions of Use.{% endblocktrans %}</p>
      <p>{% blocktrans %}If you (the "User") do not agree to them, do not use the Website, do not provide any materials to the Website nor download any materials from them. The Operators reserve the right to update or modify these Terms and Conditions at any time without prior notice to the User.{% endblocktrans %}</p>
      <h3>{% trans "WARRANTY DISCLAIMER" %}</h3>
      <p class="w3-small">{% blocktrans %}THIS SITE AND ITS COMPONENTS ARE OFFERED FOR INFORMATIONAL PURPOSES ONLY; THIS SITE SHALL NOT BE RESPONSIBLE OR LIABLE FOR THE ACCURACY, USEFULNESS OR AVAILABILITY OF ANY INFORMATION TRANSMITTED OR MADE AVAILABLE VIA THE SITE, AND SHALL NOT BE RESPONSIBLE OR LIABLE FOR ANY ERROR OR OMISSIONS IN THAT INFORMATION.{% endblocktrans %}</p>
      <p class="w3-small">{% blocktrans %}THE WEBSITE AND ASSOCIATED MATERIALS ARE PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS. TO THE FULL EXTENT PERMISSIBLE BY APPLICABLE LAW, THE OPERATORS DISCLAIM ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE, OR NON-INFRINGEMENT OF INTELLECTUAL PROPERTY. THE OPERATORS MAKE NO REPRESENTATIONS OR WARRANTY THAT THE WEBSITE WILL MEET YOUR REQUIREMENTS, OR THAT YOUR USE OF THE WEBSITE WILL BE UNINTERRUPTED, TIMELY, SECURE, OR ERROR FREE; NOR DO THE OPERATORS MAKE ANY REPRESENTATION OR WARRANTY AS TO THE RESULTS THAT MAY BE OBTAINED FROM THE USE OF THE WEBSITE. THE OPERATORS MAKE NO REPRESENTATIONS OR WARRANTIES OF ANY KIND, EXPRESS OR IMPLIED, AS TO THE OPERATION OF THE WEBSITE OR THE INFORMATION, CONTENT, MATERIALS, OR PRODUCTS INCLUDED ON THE WEBSITE.{% endblocktrans %}</p>
    </div>
  </div>
  <div class="w3-cell w3-third">
    <div class="w3-container w3-margin w3-card w3-sand">
      <h3>{% trans "The Golden Rule" %}</h3>
      <p>{% blocktrans %}We believe all of us, including you, understand and practice The Golden Rule in every action.{% endblocktrans %}</p>
      <p class="w3-container highlight">{% blocktrans %}We treat others as we would want them to treat us.{% endblocktrans %}</p>
      <h3>{% trans "Permitted and Prohibited Uses" %}</h3>
      <p>{% blocktrans %}You may use the the Website for the sole purpose of sharing and exchanging public information with other Users. You may not use the the Website to violate any applicable local, state, national, or international law, including without limitation any applicable laws relating to antitrust or other illegal trade or business practices, federal and state securities laws, regulations promulgated by governments.{% endblocktrans %}</p>
      <p>{% blocktrans %}You are strictly prohibited from communicating on or through the Website any unlawful, harmful, offensive, threatening, abusive, libelous, harassing, defamatory, vulgar, obscene, profane, hateful, fraudulent, sexually explicit, racially, ethnically, or otherwise objectionable material of any sort, including, but not limited to, any material that encourages conduct that would constitute a criminal offense, give rise to civil liability, or otherwise violate any applicable local, state, national, or international law.{% endblocktrans %}</p>
      <h3>{% trans "Termination" %}</h3>
      <p>{% blocktrans %}These Terms and Conditions of Use are effective until terminated by either party. If you no longer agree to be bound by these Terms and Conditions, you must cease use of the Website. If you are dissatisfied with the Website, their content, or any of these terms, conditions, and policies, your sole legal remedy is to discontinue using the Website. The Operators reserve the right to terminate or suspend your access to and use of the Website, or parts of the Website, without notice, if we believe, in our sole discretion, that such use (i) is in violation of any applicable law; (ii) is harmful to our interests or the interests, including intellectual property or other rights, of another person or entity; or (iii) where the Operators have reason to believe that you are in violation of these Terms and Conditions of Use.{% endblocktrans %}</p>
    </div>
  </div>
</div>
