{% load i18n %}{# with cannot have multi-line values #}{% with locale_root="https://gitlab.com/mocdiepvn/woodbus/-/blob/master" po_path="LC_MESSAGES/django.po" %}
<div class="w3-container w3-cell-row">
  <div class="w3-cell w3-third">
    <div class="w3-container w3-margin w3-card highlight">
      <h1>{% trans "Translations" %}</h1>
      <p>{% blocktrans %}Please kindly <a href="https://mocdiep.com/contactus" target="_blank">contact us</a> to add your language.{% endblocktrans %}</p>
    </div>
    <div class="w3-container w3-margin w3-card w3-sand">
      <h2>{% trans "Main Module" %}</h2>
      <ul>
        <li><a href="{{ locale_root }}/main/locale/vi/{{ po_path }}" target="_blank">{% trans "Vietnamese" %}</a></li>
      </ul>
    </div>
    <div class="w3-container w3-margin w3-card w3-sand">
      <h2>{% trans "Bus Time Module" %}</h2>
      <ul>
        <li><a href="{{ locale_root }}/bus_time/locale/vi/{{ po_path }}" target="_blank">{% trans "Vietnamese" %}</a></li>
      </ul>
    </div>
  </div>
</div>{% endwith %}
